<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kipps_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import kipps_arm urdf file -->
    <xacro:include filename="$(find kipp_arm_description)/urdf/SPEAR_Arm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="kipps_arm.ros2_control.xacro" />


    <xacro:kipps_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
